@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
/*头部导航开始*/
.shortcut{
    height: 30px;
    line-height: 30px;
    background-color: #F1F1F1;
}
.dt i{
    font:400 15px/15px "宋体";
    height: 7px;
    overflow: hidden;
    position: absolute;
    top:12px;
    width: 15px;
    right: 5px;
}
.dt s{
    position: absolute;
    top: -8px;
}
.dt{
    padding:0 25px 0 10px;
    position: relative;
}
.fr li{
    float: left;
    padding:0 10px;
}
.fr li.dt{
    padding:0 20px 0 10px;
    position: relative;
}
.fr li.tel{
    padding:0 20px 0 30px;
}
.fr .line{
    background-color: #DDD;
    height: 12px;
    width: 1px;
    padding:0;
    margin-top: 9px;
}
.dt .tel{
    width: 15px;
    height: 20px;
    background: url("../images/sprite.png") no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: 10px;
}
.banner{
    background-color: #8A25C6;

}
.banner .w{
    position: relative;
}
.banner a{
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("../images/close.png") no-repeat;
    top:5px;
    right:0;
}
.banner a:hover{
    background-position: bottom;
}
.logo{
    width: 360px;
    height: 75px;
    /*background: red;*/
    float: left;
    padding-top: 25px;
    background: url("../images/logo.png") no-repeat 0 25px;
    position: relative;
}
.logo .lo{
    width: 180px;
    height: 70px;
    position: absolute;
    background: url("../images/dong.gif") no-repeat center;
    top: 5px;
    right: 10px;
    /*background-color: pink;*/
}
.search{
    float: left;
    width: 534px;
    height: 32px;
    margin-top: 25px;
    border: 2px solid #B61D1D;
}
.search input{
    width: 450px;
    height: 32px;
    padding-left: 4px;
    float: left;
    color: #666;
    font:14px/32px "Microsoft YaHei UI";
}
.search button{
    width: 80px;
    height: 32px;
    float: left;
    background-color: #B61D1D;
    color: white;
    font:16px/32px "Microsoft YaHei UI";
    cursor: pointer;
}

.car{
    float: right;
    width: 96px;
    padding-left:43px;
    height: 34px;
    margin: 25px 65px 0 0;
    border: 1px solid #DFDFDF;
    line-height: 32px;
    position: relative;
}
.car .icon1{
    width: 16px;
    height: 13px;
    top: 10px;
    left: 20px;
    background: url("../images/sprite.png") no-repeat -1px -59px;
    position: absolute;
}
.car .icon2{
    font: 400 13px/13px "SimSun";
    position: absolute;
    top: 10px;
    right: 10px;
}
.car .icon3{
    position: absolute;
    width: 16px;
    height: 14px;
    background-color: #C81623;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: white;
    border-radius: 7px 7px 7px 0;
    top: -3px;
}
.hotwords{
    float: left;
    width: 500px;
    padding:7px 0;
}
.hotwords ul li{
    float: left;
    margin-right:10px;
}

.jd-nav{
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #81191A;
}
.jd-nav .type{
    float: left;
    position: relative;
}
.jd-nav .type p{
    line-height: 44px;
    padding-left:5px;
    width: 185px;
    background-color: #c81623;
    font: 18px/44px "宋体";
}
.jd-nav .type p a{
    color: white;
}
.jd-nav .type .dd{
    width: 186px;
    height: 465px;
    position: absolute;
    z-index: 10;
    top: 44px;
    background-color: #c81623;
    border:2px solid #81191A;
}

.jd-nav li{
    float: left;
    margin-left: 30px;
}
.jd-nav li a{
    color: #555;
    font-weight: 700;
    line-height: 44px;
    font-size: 16px;
}
.jd-nav li a:hover{
    color: #c81623;
}
.jd-nav .bike{
    float: right;
}

.jd-footer .slogen{
    height: 54px;
    padding: 20px 0;
    background-color: #F5F5F5;
    position: relative;
}
.jd-footer .slogen .item{
    line-height:54px;
    position: absolute;
    width: 302px;
    left:50%;
    margin-left: 2px;
}
.jd-footer .slogen .item2{
    margin-left: -304px;
}
.jd-footer .slogen .item3{
    margin-left: -608px;
}
.jd-footer .slogen .item4{
    margin-left: 306px;
}
.jd-footer .w{
    margin-top: 25px;
    /*position: relative;*/
}
.jd-footer .w dl{
    width: 198px;
    float: left;
}
.jd-footer .w dt, .jd-footer .w .dt{
    height: 28px;
    font: 16px/28px "微软雅黑";
}
.jd-footer .w dd, .jd-footer .w .dd{
    height: 20px;
}
.jd-footer .coverage{
    float: left;
    width: 210px;
    height: 165px;
    background: url("../images/china.png") no-repeat left bottom;
}
.jd-footer .coverage p{
    line-height: 18px;
}
.jd-footer .coverage p.look{
    text-align: right;
}
.jd-footer .w.againw{
    border-top: 1px solid #e5e5e5;
}
.jd-footer .w.againw .links{

}
.jd-footer .againw .links p{
    text-align: center;
    margin-top: 10px;
}
.jd-footer .againw span{
    margin: 0 12px;
    color: #ccc;
}
.jd-footer .againw .copyright{
    text-align: center;
}
.jd-footer .againw .copyright p{
    color: #999;
    line-height: 20px;
}
.jd-footer .againw .message{
    margin-top:15px;
    text-align: center;
}
.jd-footer .againw .message p a{
    padding: 0 20px;
}
























